@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');


/*GENERAL STYLES*/
:root{
   
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato' , sans-serif;
    line-height: 1.4
}

a{
    text-decoration: none;
}

p{
    margin: 0.75rem;
}
textarea{
    resize: none;
}

.bg-dark{
    background: #000;
}

.bottom-margin-40{
    margin-bottom: 40px;
}
.bottom-margin-20{
    margin-bottom: 20px;
}
.bottom-margin-80{
    margin-bottom: 80px;
}
.bottom-margin-15{
    margin-bottom: 15px;
}
.bottom-margin-100{
    margin-bottom: 100px;
}
/*UTILITY CLASS*/

/*
.container{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2rem;
    overflow: auto;
    
    background: pink;
}
*/

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}


.px-1{padding: 3rem 0 0 0;}

.px-xb{padding: 0 0 1.8rem 0;}
.p{ padding: 1.5rem;}
.p{ padding: 2rem;}
.p{ padding: 3rem;}

.l-heading{
  font-size: 2rem;
  margin-bottom: 0.75rem;
}
.m-heading{
    font-size: 1.5rem;
    margin-bottom: 0.75rem;
    font-weight: 400;
    
}
.s-heading{
    font-size: 1rem;
    margin-bottom: 0.75rem;
    font-weight: 600;    
}

.text-center{
    text-align: center;
}

.center{
    margin: 0 auto;
}

/*NAV BAR*/

#navbar{
    display: flex;
    justify-content:space-between;
    background: #000;
    color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    padding: 1rem
}

#navbar ul{
    display: flex;
    list-style: none;
    align-items: center;
}

#navbar ul li a{
     color: #fff;
        padding: 0.75rem;
        margin: 0 0.95rem;
    font-size: 1.1rem;
    
}
#navbar ul li a:hover {
    background: #aaa;
    color: black;
}
#navbar span:hover{
    background: red;
    padding: 10px;
    margin-top: -10px
}

.sub-menu .menu-item{
    
    display: block;
    text-transform: capitalize;
    height: 35px;
    line-height: 35px;
    padding-right: 50px;
    display: none;
    

}

.menu-item:hover .sub-menu{
    display: block;
}

.position{
    position: relative;
}


.sub-menu{
    position: absolute;
    left: 0;
    top: 45px;
    background: #FFF;
    box-shadow: 3px 4px 10px 0 #DDD, -3px 4px 10px 0 #DDD;
    display: none;
}




/*SHOWCASE*/
#showcase{
background:url('../images1/chicago.jpg')no-repeat center center/cover;
    width: 100%;
height:100vh;
    color: #fff;
}

#showcase .showcase-content{
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: center;
    height: 100%;
    color: #fff;  
}

/*The band section*/

#band .container{
    width: 55%;
/*    height: 900px;*/
    margin: 0 auto;
    margin-bottom: 80px;
}
.heading{
    letter-spacing: 0.4rem;
    font-size: 1.8rem;
}

.lead{
    font-style: italic;
    color: #aaa;
    
}
#band .info{
    text-align: justify;
}


#band .images{
    width: 90%;
    margin: 0 auto;
    
    display: flex;
    padding: 1rem;
/*    flex-direction: row;*/
    justify-content: space-around;
}

#band .images div{
    width: 100%;
    padding: 1rem;
}



/*TOUR-DATES*/

#tour-dates .container{
    width:55%;
/*    height: 900px;*/
    color: white;
    padding: 2.5rem;
/*    background: pink;*/
}

#tour-dates .container .heading{
    color: #fff;
    padding: 2rem 0 0 0;
    
}

/*
#tour-dates .months{
    color: #aaa;
    background: #fff;
    font-size: 1.1rem;
    padding: 0.4rem;
    margin-top: 2.5rem;
    border: solid 1px #aaa;
}
*/

.event-list{
    background: #FFF;
    border: solid 1px #CCC;
    color: #aaa;
}
.event-item{
    padding: 10px 20px;
    border-bottom: solid 1px #CCC;
    list-style-type: none;
}
.last-event-item{
/*    display: flex;*/
    border-bottom: none;
}
.tag-sold-out{
    margin-left: 20px;
    background: #F44336;
    color: #FFF;
    padding: 3px 10px;
    box-sizing: border-box;
}

.badge{
    text-align: right;
    display: inline-block;
    background: #000;
    color: #FFF;
    padding: 3px 8px;
    border-radius: 100%;
    margin-right: 10px;
}


#tour-dates .event-cards .event .info{
    width: 100%;
    padding: 1rem 0.5rem;
    margin: 0;
    color: #111;
    background: #fff;
}
#tour-dates .event-cards .event{
    width: 31.5%;
    
}

#tour-dates .event-cards{
    margin: 50px 0;
    display: flex;
    justify-content: space-between;
    
    
}

#tour-dates .event-cards .event .image{
 margin-bottom: -7px;
    position: relative;
}

.overlay{
    position: absolute;
    height: 98.5%;
    width: 100%;
    top: 0;
    left: 0;
    background:rgba(0,0,0,0.4);
    display: none;
    
}
.image:hover .overlay{
    display: block;
}
#tour-dates .event-cards .event .info h3{
 padding-left: 10px;
    font-weight: 900;
    padding-top: 10px;
}
#tour-dates .event-cards .event .info .msg{
    padding: 10px;
    margin: 0;
    
}

#tour-dates .event-cards .event .info date{
    padding: 10px;
    color: #aaa;
    
}

#tour-dates .event-cards .event .info .btn span{
    color: #fff;
    background: #000;
    padding:10px 15px;
}


/*CONTACT*/

#contact .container{
    width: 55%;
    margin: 0 auto;
/*    background: pink;*/
}

#contact .container .address p{
    display: inline;
    font-size: 1.2rem;
    padding: 10px;
    margin: 10px;
}

#contact .container .address{
    padding: 50px 50px;
    flex: 1;
}

#contact .container .sec-2 .form{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.btn{
/*    margin-bottom: 200px;*/
    padding: 10px;
    background: #000;
    color: #fff;
    font-size: 1rem;
    border: none;
}
input[type="text"],input[type="email"] {
    padding: 10px;
    
    
}
textarea{
/*    display: block;*/
    padding: 10px;
    margin: 10% 10% 10% 0;
    width: 95%;
}


#contact .container .sec-2{
    display: flex;
}

/*MAP*/

.map{
    background: url('../images1/map.jpg')center center no-repeat/cover;
    height:838px;
}

/*footer*/
footer{
    background: #eee;
    height: 100px;
    padding: 20px;
}




/*MOBILE CSS*/
@media(max-width:550px){
#navbar{
    flex-direction:column;
/*    font-size: 0.2rem;*/
/*    align-items:center;*/
    
    }

    #showcase{
        width: 100%;
        
/*        height: 100%;*/
        margin-top: -70px;
        
    }  















